@model Course_Worck_Server.Models.ListStudent
@{
    ViewBag.Title = "BSTU.Add Student";
}
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#ef6565; border-bottom-color:white">
    <div class="container">
        <div class="navbar-collapse collapse" style=" background-color: #ef6565">
            <ul class="nav navbar-nav">
                <li style="background-color: white; font-size: 18px; font-family: MV Boli">@Html.ActionLink("List Of Students", "ListOfStudents", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:red" })</li>
                <li style="font-size: 18px; font-family: MV Boli; margin-left: 5px">@Html.ActionLink("List Of Labs", "ListOfLabs", "Home", new { area = "" }, new { @class = "link", @style = "color:white" })</li>
                <li style="font-size: 18px;font-family: MV Boli; margin-left:5px">@Html.ActionLink("List Of Teachers", "ListOfTeachers", "Home", new { area = "" }, new { @class = "link", @style = "color:white" })</li>
                <li style="font-size: 18px;font-family: MV Boli; margin-left:5px">@Html.ActionLink("List Of Teacher's Lab", "ListOfTeachersLabs", "Home", new { area = "" }, new { @class = "link", @style = "color:white" })</li>
                <li style="background-color:#F5F5F5; font-size: 18px;font-family: MV Boli; margin-left:345px">@Html.ActionLink("LogOff", "Logoff", "Home", new { area = "" }, new { @class = "link", @style = "color:red" })</li>
            </ul>
        </div>
    </div>
</div>
<div class="addpage">
    <h2>Add Student</h2>
    <div id="createBlock">
        <table>
            <tr>
                <td><label >ID: </label></td>
                <td><input type="number" id="addID" value="10000"/></td>
            </tr>
            <tr>
                <td><label>Name: </label> </td>
                <td><input type="text" id="addName" /></td>
            </tr>
            <tr>
                <td><label>Surname: </label></td>
                <td>
                    <input type="text" id="addSurname" />
                </td>
            </tr>
            <tr>
                <td><label>Group: </label></td>
                <td>@Html.DropDownListFor(model => model.IDGroup, ViewBag.Group as SelectList, "select group", new { id = "addGroup" })</td>
            </tr>
        </table>
        <button id="addStudent">Save</button>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#addStudent").click(function (event) {
                AddStudent();
            });
        });
        // Добавление новой книги
        function AddStudent() {
            // получаем значения для добавляемой книги
            var student = {
                IDStudent: $('#addID').val(),
                Name: $('#addName').val(),
                Surname: $('#addSurname').val(),
                IDGroup : $('#addGroup').val()
            };

            $.ajax({
                url: '/api/ListStudents/',
                type: 'POST',
                data: JSON.stringify(student),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    window.location = 'https://localhost:44350/Home/ListOfStudents';
                },
                error: function (x, y, z) {
                    alert('Error' + '\n' +'Pleace checked the fields '+ '\n' + 'End try again');
                }
            });
        }
    </script>
}
