@model Course_Worck_Server.Models.ListLab
@{
    ViewBag.Title = "BSTU.Update Lab";
}
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#ef6565; border-bottom-color:white">
    <div class="container">
        <div class="navbar-collapse collapse" style=" background-color: #ef6565">
            <ul class="nav navbar-nav">
                <li style="font-size: 18px;font-family: MV Boli">@Html.ActionLink("List Of Students", "ListOfStudents", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })</li>
                <li style="background-color: white; font-size: 18px; font-family: MV Boli; margin-left: 5px">@Html.ActionLink("List Of Labs", "ListOfLabs", "Home", new { area = "" }, new { @class = "link", @style = "color:red" })</li>
                <li style="font-size: 18px;font-family: MV Boli; margin-left:5px">@Html.ActionLink("List Of Teachers", "ListOfTeachers", "Home", new { area = "" }, new { @class = "link", @style = "color:white" })</li>
                <li style="font-size: 18px;font-family: MV Boli; margin-left:5px">@Html.ActionLink("List Of Teacher's Lab", "ListOfTeachersLabs", "Home", new { area = "" }, new { @class = "link", @style = "color:white" })</li>
                <li style="background-color:#F5F5F5; font-size: 18px;font-family: MV Boli; margin-left:345px">@Html.ActionLink("LogOff", "Logoff", "Home", new { area = "" }, new { @class = "link", @style = "color:red" })</li>
            </ul>
        </div>
    </div>
</div>
<div class="addpage">
    <h2>Update Lab</h2>
    <div id="createBlock">
        <table>
            <tr>
                <td><label>Name: </label></td>
                <td><input type="text" id="addName" value="@Html.DisplayFor(model => model.NameLab)"/></td>
            </tr>
            <tr>
                <td><label>Quantity: </label> </td>
                <td><input type="number" id="addQuantity" value="@Html.DisplayFor(model => model.Quantity)"/></td>
            </tr>
            <tr>
                <td><label>Course: </label></td>
                <td>@Html.DropDownListFor(model => model.IDCource, ViewBag.Course as SelectList, "select course", new { id = "addCourse" })</td>
                </td>
            </tr>
            <tr>
                <td><label>Semestr: </label></td>
                <td>@Html.DropDownListFor(model => model.IDSem, ViewBag.Semestr as SelectList, "select semestr", new { id = "addSemestr" })</td>
                </td>
            </tr>
            <tr>
                <td><label>Speciality: </label></td>
                <td>@Html.DropDownListFor(model => model.IDSpeciality, ViewBag.Speciality as SelectList, "select speciality", new { id = "addSpeciality" })</td>
            </tr>
        </table>

        <button id="updateLab">Save</button>
    </div>

</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#updateLab").click(function (event) {
                UpdateLab();
            });
        });
        // Добавление новой книги
        function UpdateLab() {
            var id = @ViewBag.Id;
            // получаем значения для добавляемой книги
            var student = {
                IDLab: id,
                NameLab: $('#addName').val(),
                Quantity: $('#addQuantity').val(),
                IDCource: $('#addCourse').val(),
                IDSem: $('#addSemestr').val(),
                IDSpeciality: $('#addSpeciality').val()
            };
            $.ajax({
                url: '/api/ListLabs/' + id,
                type: 'PUT',
                data: JSON.stringify(student),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    window.location = 'https://localhost:44350/Home/ListOfLabs';
                },
                error: function (x, y, z) {
                    alert('Error' + '\n' + 'Pleace checked the fields ' + '\n' + 'End try again');
                }
            });
        }
    </script>
}
